<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PizzaSushiDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Programming\Visual Studio projects\PizzaSushiBot\PizzaSushiBot\Database\PizzaSushiDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>